<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="https://cdn.visitportugal.com/sites/default/files/styles/encontre_detalhe_poi_destaque/public/mediateca/shutterstock_316111241_CaldoVerde_GV_Natalia%20Mylova_660x371.jpg?itok=nEVwwtvi"
    alt="Caldo Verde"
  />

  <h1 style="text-align: center">
    <b><u>Caldo Verde</u></b>
  </h1>

  <ion-item lines="none">
    <ion-label class="label-left2">Ingredientes</ion-label>
    <ion-text slot="end" class="text-right2">Quantidade</ion-text>
  </ion-item>

  <ion-item>
    <ion-label class="label-left">Alho</ion-label>
    <ion-text slot="end" class="text-right">4 Dentes</ion-text>
  </ion-item>
  <ion-item>
    <ion-label class="label-left">Azeite</ion-label>
    <ion-text slot="end" class="text-right">3 c. de Sopa</ion-text>
  </ion-item>
  <ion-item>
    <ion-label class="label-left">Chouriço de Carne</ion-label>
    <ion-text slot="end" class="text-right">60g</ion-text>
  </ion-item>
  <ion-item>
    <ion-label class="label-left">Batata para Cozer</ion-label>
    <ion-text slot="end" class="text-right">600g</ion-text>
  </ion-item>
  <ion-item>
    <ion-label class="label-left">Sal</ion-label>
    <ion-text slot="end" class="text-right">1,5 c. de Chá</ion-text>
  </ion-item>
  <ion-item>
    <ion-label class="label-left">Água</ion-label>
    <ion-text slot="end" class="text-right">1,2L</ion-text>
  </ion-item>
  <ion-item>
    <ion-label class="label-left">Caldo-Verde</ion-label>
    <ion-text slot="end" class="text-right">200g</ion-text>
  </ion-item>
  <ion-item>
    <ion-label class="label-left">Cebola Doce</ion-label>
    <ion-text slot="end" class="text-right">120g</ion-text>
  </ion-item>

  <h3 style="text-align: center; padding-bottom: 4%; padding-top: 4%">
    <b>Procedimento:</b>
  </h3>

  <ol>
    <li class="procedimento">
      Descasque a cebola e o alho, pique-os grosseiramente e leve ao lume numa
      panela com duas colheres de sopa de azeite e o chouriço.
    </li>
    <br />
    <li class="procedimento">
      Entretanto, pele as batatas e corte-as em cubos.
    </li>
    <br />
    <li class="procedimento">
      Quando a cebola estiver macia e translúcida, retire o chouriço e introduza
      as batatas. Tempere com o sal, tape e deixe cozinhar sobre lume muito
      brando durante cerca de 10 minutos. Regue com a água a ferver e deixe
      cozinhar até a batata estar macia.
    </li>
    <br />
    <li class="procedimento">
      Entretanto, deite o caldo-verde num coador de rede e passe-o por água
      corrente.
    </li>
    <br />
    <li class="procedimento">
      Triture a sopa com a varinha mágica até a batata estar desfeita. Leve de
      novo ao lume e quando retomar fervura introduza o caldo-verde e deixe
      cozinhar durante cerca de 8 minutos com a panela destapada.
    </li>
    <br />
    <li class="procedimento">
      Regue a sopa com o restante azeite e sirva com o chouriço cortado em
      rodelas.
    </li>
    <br />
  </ol>
</ion-content>

<style>
  ion-item {
    --padding-start: 4%;
    --padding-end: 4%;
  }

  .label-left {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  .text-right {
    font-size: 14px;
    color: #ffffff;
  }

  .procedimento {
    font-size: 16px;
    margin-right: 5%;
  }

  .label-left2 {
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 8px;
    color: lightgray;
  }

  .text-right2 {
    font-size: 14px;
    color: lightgray;
  }
</style>
